@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

.bg-primary {
  background: linear-gradient(180deg, #C50000 0%, rgba(222, 1, 1, 0.981606) 14.58%, rgba(187, 1, 1, 0.677083) 99.99%, rgba(111, 1, 1, 0) 100%);
}

.bg-solid-black {
  background: #212024;
}